.clock {
  min-height: 350px;
}

.clock__img {
  text-align: center;
  background-image: url("../../img/24-tablet.svg");
  background-repeat: no-repeat;
  background-position: left 20px top 30px;
}

.clock__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  padding-right: 60px;
  margin: 0 0 10px 0;
}

.clock__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  margin: 0 0 10px 0;
}

.clock__link {
  color: @pink;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-decoration-line: underline;
}
