.contacts {
  margin: 0;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.contacts__block {
  align-items: center;
  text-align: center;
}

.contacts__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__link {
  color: #d22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
