.contacts {
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
}

.contacts__block {
  align-items: center;
  text-align: center;
}

.contacts__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.contacts__link {
  color: @pink;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  margin: 0;
}

.contacts__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.contacts__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.contacts__text {
  color: @pink;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.contacts__input {
  width: 100%;
  min-height: 59px;
  border: 2px solid @border-color;
  border-radius: 1px;
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  padding-left: 15px;
  box-sizing: border-box;
}

.contacts__input::placeholder {
  color: @dark-blue;
  opacity: 1;
}
