.data-title {
  width: 276px;
  background: @dark-blue;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.7px;
}

.data__box-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.data-title__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-top: -3px;
  letter-spacing: -0.1px;
}

.data-empty {
  background-color: @light-gray;
}

.data__box {
  width: 276px;
  height: 57px;
  background: white;
  text-align: left;
  padding-left: 20px;
}

.data__box-yes {
  background-image: url("../../img/yes.svg");
  background-repeat: no-repeat;
  background-position: 93% center;
}

.data__box-no {
  background-image: url("../../img/no.svg");
  background-repeat: no-repeat;
  background-position: 92% center;
}

.data-title__hit {
  background-image: url("../../img/hit.svg");
  background-repeat: no-repeat;
}
