.emotion {
  border: none;
  text-align: center;
  padding-top: 30px;
}

.emotion__title {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.emotion__box {
  padding: 0 20px;
}

.emotion__text {
  width: 100%;
  min-height: 197px;
  resize: none;
  box-sizing: border-box;
  padding: 15px 0 0 15px;
}

.emotion__text::placeholder {
  text-align: left;
}
