.emotion {
  border: none;
  text-align: center;
  padding-top: 30px;
}

.emotion__title {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.emotion__text {
  width: 276px;
  height: 197px;
  text-align: center;
  resize: none;
}

.emotion__text::placeholder {
  text-align: left;
  padding: 15px 0 0 15px;
}
