.filter {
  text-align: center;
}

.filter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: @light-gray;
  padding: 20px 0 42px;
}

.filter__button {
  display: inline-block;
}

.filter__block {
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
}

.filter__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 111px;
  box-sizing: border-box;
  padding: 0 40px 0 35px;
}

.filter__box-photo {
  margin-bottom: 37px;
}

.filter__catalog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
