.form__title {
  min-height: 240px;
  background: no-repeat;
  background-image: url("../../img/back-mobile.png");
  background-position: center;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
}
