.information {
  color: @dark-blue;
  margin: 0;
}

.information__title {
  height: 205px;
  background: white;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.information-block {
  background: @light-gray;
}

.information__list {
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.information__item {
  align-items: center;
  text-align: center;
}

.information__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.information__item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.information__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  margin: 0;
}

.information__text:first-child {
  margin-bottom: 50px;
}
