.modal {
  text-align: center;
  box-shadow: 0 10px 15px gray;
  z-index: 20;
}

.modal__success {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  width: 320px;
  height: 340px;
  background: white;
  margin: 0 auto;
  padding: 19px 0 0;
}

.modal__failure {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  width: 320px;
  height: 250px;
  background: white;
  margin: 0 auto;
  padding: 39px 0 0;
}

.modal__block-success {
  background: @light-gray;
  padding: 51px 0 49px;
}

.modal__block-failure {
  background: white;
  padding: 8px 0 0;
}

.modal__title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  margin: 0 0 25px;
  letter-spacing: 0.9px;
}

.modal__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  margin: 0 0 34px;
  padding: 0 20px;
}

.modal__button {
  min-width: 278px;
  min-height: 61px;
  color: white;
  background: @button-green;
  border: 2px solid @button-green;
  border-radius: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}
