.name__box {
  text-align: center;
}

.name__text {
  color: @pink;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 15px;
}

.name__input {
  min-width: 276px;
  min-height: 59px;
  border: 2px solid @border-color;
  border-radius: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.name__input::placeholder {
  color: @pink;
  opacity: 1;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding-left: 15px;
}

.name__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.name__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name__title-second {
  display: none;
  padding: 0;
}
