.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: @background-glassy;
  padding: 0;
  margin: 0;
}

.page-header__logo {
  width: 74px;
  height: 23px;
  background: no-repeat;
  background-image: url("../../img/pink-logo.svg");
}
