.page-footer {
  min-height: 244px;
  margin: 0;
  padding-top: 34px;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo {
  margin-bottom: 33px;
}

.page-footer__social {
  margin-bottom: 37px;
}
