.post {
  align-items: center;
  text-align: center;
}

.post__information {
  background: @light-gray;
  text-align: left;
}

.post__like {
  color: @pink;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.post__like-number,
.post__like-text {
  display: inline-block;
}
