.slider__toggle--current {
  width: 12px;
  height: 12px;
  background-image: url("../../img/current-slider.svg");
  border: none;
  outline: none;
}

.slider-toggle-image:hover path {
  opacity: 1;
}

.slider-toggle-image:active path {
  opacity: 0.1;
}

@media (min-width: @mobile-width-only) {
  .slider-toggle-left,
  .slider-toggle-right {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .slider-toggle-left {
    position: absolute;
    top: 72px;
    left: -19px;
  }

  .slider-toggle-right {
    position: absolute;
    top: 72px;
    right: 17px;
  }
}
