.social__item {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item:nth-child(2) {
  margin: 0 7px;
}

.social__list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.social__link {
  display: flex;
  width: 50px;
  height: 50px;
  border: 3px solid @light-border;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 3px solid @dark-blue;
    border-radius: 50%;
  }

  &:active {
    border: 3px solid @dark-blue;
    border-radius: 50%;
    opacity: 0.3;
  }
}

.social__legend {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
