.user-name {
  border: none;
}

.user__legend {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
}

.user__personal-data {
  text-align: center;
}

.user_submit {
  text-align: center;
}

.user_button {
  min-width: 276px;
  min-height: 59px;
  color: white;
  background: @button-green;
  border: 2px solid @button-green;
  border-radius: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}
