@pink: #d22856;
@dark-blue: #283645;
@dark: #252527;
@light-gray: #f2f2f2;
@border-color: #e5e5e5;
@background-fone: #1d2631;
@button-green: #2aab6d;
@background-glassy: rgba(0, 0, 0, 0.3);
@light-border: rgba(40, 54, 69, 0.1);
@dark-border: rgba(40, 54, 69, 0.3);
@border: rgba(40, 54, 69, 0.5);
@light-pink: rgba(210, 40, 86, 0.3);
@background-translucent: rgba(0, 0, 0, 0.1);
@background-button: rgba(28, 155, 94, 1);
@white-translucent: rgba(255, 255, 255, 0.3);

@mobile-width-only: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
@import "global/fonts.less";
@import "blocks/page.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/block-intro.less";
@import "blocks/phone.less";
@import "blocks/information.less";
@import "blocks/iphone.less";
@import "blocks/author.less";
@import "blocks/table.less";
@import "blocks/contacts.less";
@import "blocks/social.less";
@import "blocks/data.less";
@import "blocks/row.less";
@import "blocks/page-footer.less";
@import "blocks/button.less";
@import "blocks/socials.less";
@import "blocks/copyright.less";
@import "blocks/reviews.less";
@import "blocks/user-box.less";
@import "blocks/user.less";
@import "blocks/name.less";
@import "blocks/checkbox.less";
@import "blocks/radio.less";
@import "blocks/small.less";
@import "blocks/modal.less";
@import "blocks/text-input.less";
@import "blocks/emotion.less";
@import "blocks/visually-hidden.less";
@import "blocks/photo.less";
@import "blocks/post.less";
@import "blocks/like.less";
@import "blocks/icon.less";
@import "blocks/filter.less";
@import "blocks/clock.less";
@import "blocks/slider.less";
@import "blocks/range-box.less";

@media (min-width: @mobile-width-only) {
  .main-nav {
    position: relative;
    min-height: 51px;
    background-color: transparent;
  }

  .main-nav__dropdown {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  .main-nav--closed .main-nav__dropdown::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: white;
    box-shadow: 0 10px 0 0 white, 0 20px 0 0 white;
  }

  .main-nav--closed .main-nav__dropdown:hover::before {
    background-color: @pink;
    box-shadow:
      0 10px 0 0 @pink,
      0 20px 0 0 @pink;
  }

  .main-nav--closed .main-nav__dropdown:active::before {
    background-color: fade(@pink, 30%);
    box-shadow:
      0 10px 0 0 fade(@pink, 30%),
      0 20px 0 0 fade(@pink, 30%);
  }

  .main-nav--opened .main-nav__dropdown {
    top: 0;
    right: 0;
    left: auto;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 33px;
      left: 23px;
      width: 31px;
      height: 3px;
      background-color: white;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: @pink;
    }

    &:active::before,
    &:active::after {
      background-color: @pink;
      opacity: 0.3;
    }
  }

  .block-intro__preview {
    position: absolute;
    line-height: 120%;
    top: 88px;
    left: 0;
    right: 0;
    padding: 0 20px;
    order: 0;
  }

  .block-intro__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 460px;
    background-image: url("../../img/back-mobile.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-mobile@2x.png");
    }
  }

  .block-intro__phone {
    position: relative;
    height: 286px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../../img/phone.png");
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      width: 320px;
      background-image: url("../../img/phone@2x.png");
      background-position: top center;
      background-size: cover;
    }
  }

  .block-intro {
    margin-top: -65px;
  }

  .data__first {
    display: none;
  }

  .data-title__hit,
  .data__box-visible {
    display: table-cell;
  }

  .information__iphone {
    height: 279px;
    background-image: url("../../img/iphone3-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    order: 0;
  }

  .contacts__index {
    padding: 43px 0 25px;
  }

  .contacts__container {
    padding: 34px 20px;
  }

  .information__title {
    padding: 42px 20px;
    margin-bottom: 32px;
  }

  .information__container {
    padding-top: 10px;
  }

  .information__item-title {
    margin-bottom: 10px;

    &:first-child {
      margin-bottom: 11px;
      letter-spacing: -1px;
    }
  }

  .reviews__author-name {
    margin-bottom: 12px;
  }

  .reviews__text {
    margin: 0;
  }

  .information__item {
    margin-bottom: 5px;

    &:first-child {
      margin-bottom: 32px;
    }

    &:nth-child(2) {
      margin-bottom: 33px;
    }
  }

  .block-intro__bottom {
    padding: 28px 20px 31px;
  }

  .social__list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .reviews,
  .page-footer__wrapper {
    padding: 0 20px;
  }

  .table__block {
    overflow: hidden;

    &::after {
      overflow: visible;
    }
  }

  .clock,
  .block-intro__preview-display {
    display: none;
  }

  .user-box__title {
    min-height: 240px;
    margin-top: -69px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-mobile@2x.png");
    }
  }

  .title__catalog {
    height: 237px;
    min-height: 237px;
    margin-top: -67px;
  }

  .user-contacts__title {
    display: none;
  }

  .user-box__text {
    padding-top: 96px;
    letter-spacing: -0.4px;
  }

  .user-box__text-catalog {
    padding-top: 94px;
  }

  .user__legend-catalog {
    padding: 44px 20px 0 20px;
    margin-bottom: 50px;
  }

  .emotion__text,
  .emotion__box {
    height: 197px;
  }

  .post__box-autor {
    &:nth-child(1) {
      .post__photo {
        background-image: url("../../img/photo-1-mobile.png");
      }
    }

    &:nth-child(2) {
      .post__photo {
        background-image: url("../../img/photo-2-mobile.png");
      }
    }

    &:nth-child(3) {
      .post__photo {
        background-image: url("../../img/photo-3-mobile.png");
      }
    }

    &:nth-child(4) {
      .post__photo {
        background-image: url("../../img/photo-4-mobile.png");
      }
    }

    &:nth-child(5) {
      .post__photo {
        background-image: url("../../img/photo-5-mobile.png");
      }
    }

    &:nth-child(6) {
      .post__photo {
        background-image: url("../../img/photo-6-mobile.png");
      }
    }
  }

  .map__box {
    width: 100%;
    min-height: 200px;
  }

  .page-header__logo-desktop,
  .page-header__logo-tablet,
  .logo__desktop {
    display: none;
  }

  .slider__toggle-left,
  .slider__toggle-right {
    display: none;
  }

  .user-name {
    padding-top: 35px;
  }

  .name__box {
    padding-bottom: 0;

    &:first-child {
      margin-bottom: 17px;
    }

    &:nth-child(2) {
      margin-bottom: 17px;
    }
  }

  .name__second-name,
  .name__name,
  .name__patronymic {
    margin-bottom: 4px;
  }

  .name__text {
    padding-left: 23px;
  }

  .name__input {
    padding-left: 20px;
  }

  .information__list {
    margin-bottom: 41px;
  }

  .reviews {
    margin-bottom: 80px;

    &::after {
      width: 100%;
      height: 126px;
      bottom: -80px;
      left: 0;
    }
  }

  .reviews__wrapper {
    padding-top: 40px;
    padding-bottom: 58px;
  }

  .guest .contacts__link,
  .letter .contacts__link {
    letter-spacing: -0.6px;
  }

  .page-footer__index {
    padding-top: 11px;
  }

  .contacts__user {
    padding: 33px 20px 25px 20px;
  }

  .page-footer__form {
    padding-top: 56px;
  }

  .user-radio__title {
    margin-bottom: 26px;
  }

  .checkbox__title {
    padding: 0 35px;
  }

  .user__catalog-tablet,
  .user__catalog-desktop,
  .user__catalog--tablet,
  .user__catalog--desktop,
  .modal__close,
  .clock__tablet,
  .clock__desktop,
  .item-description__tablet,
  .item-description__desktop {
    display: none;
  }

  .page-footer__catalog {
    padding-top: 40px;
  }

  .site-list__desktop {
    text-transform: uppercase;

    &:hover {
      color: @pink;
    }

    &:active {
      color: @pink;
      opacity: 0.3;
    }
  }

  .page-header__logo-mobile:hover path {
    fill: @pink;
  }

  .page-header__logo-mobile:active path {
    fill: @pink;
    opacity: 0.3;
  }

  .crop__small,
  .contrast__small,
  .fill__small {
    display: none;
  }

  .site-list__item {
    height: 65px;
    border: none;
  }
}

@media (max-width: 1199px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__dropdown {
    display: none;
  }

  .main-nav--opened .main-nav__top,
  .main-nav--opened .main-nav__wrapper {
    background-color: @dark-blue;
  }

  .letter {
    margin-bottom: 20px;
  }

  .call {
    margin-bottom: 17px;
  }

  .reviews__age {
    display: none;
  }

  .socials__link {
    position: relative;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: -3px;
      left: 0;
    }

    &:nth-child(3) {
      top: -2px;
      left: -2px;
    }
  }

  .logo__mobile-tablet:hover path {
    fill: @pink;
  }

  .logo__mobile-tablet:active path {
    fill: @pink;
    opacity: 0.3;
  }

  .site-list__item {
    height: 64px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav--closed .main-nav__dropdown {
    content: "";
    position: absolute;
    top: 22px;
    right: 20px;
    width: 50px;
    height: 24px;
  }

  .main-nav--opened .main-nav__dropdown {
    content: "";
    position: absolute;
    top: 43px;
    right: 20px;
    width: 23px;
    height: 23px;

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--opened .main-nav__dropdown::before,
  .main-nav--opened .main-nav__dropdown::after {
    top: 10px;
    left: -3px;
    width: 30px;
  }

  .page {
    min-width: 660px;
  }

  .main-nav__top {
    height: 110px;
    background-color: @background-translucent;
  }

  .page-header__logo {
    position: absolute;
    top: 27px;
    left: 20px;
    width: 145px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .user__catalog-mobile,
  .user__catalog--mobile,
  .table__rates::before,
  .table__rates::after,
  .clock__mobile,
  .item-description__mobile {
    display: none;
  }

  .user__catalog-tablet,
  .user__catalog--tablet,
  .clock__tablet,
  .item-description__tablet {
    display: block;
  }

  .information__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 0 0 0;
    order: 1;
  }

  .block-intro__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
  }

  .block-intro__preview {
    display: none;
  }

  .block-intro__preview-display {
    display: block;
    position: relative;
    top: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 30px;
    padding: 0 40px;
    letter-spacing: -1px;
  }

  .block-intro__link {
    margin-bottom: 40px;
  }

  .block-intro__socials {
    display: block;
    margin-bottom: 35px;
  }

  .information__title {
    padding: 47px 0 0 0;
    margin-bottom: 35px;
  }

  .information__text {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: -0.7px;
    margin: 0;

    &:last-child {
      padding: 0 50px;
    }
  }

  .block-intro__legend {
    font-size: 18px;
  }

  .block-intro__bottom {
    background-color: transparent;
    background-image: none;
    padding: 204px 0 0 0;
    order: 0;
  }

  .socials__link {
    position: relative;

    &:nth-child(1) {
      top: 6px;
      left: -6px;
    }

    &:nth-child(2) {
      top: 2px;
      left: -2px;
      margin: 0 30px;
    }

    &:nth-child(3) {
      top: -1px;
      left: 3px;
    }
  }

  .block-intro__box,
  .block-intro__phone {
    background-image: none;
  }

  .page-main .block-intro__background {
    position: relative;
    min-height: 729px;
    width: auto;
    background-image: url("../../img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
    }
  }

  .block-intro {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 729px;
    background-image: url("../../img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    margin-top: -110px;
    padding: 0 9px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-tablet@2x.png");
      background-position: bottom center;
      background-size: 660px 545px;
    }
  }

  .data__first {
    display: table-cell;
  }

  .information-block {
    margin-bottom: 25px;
    background-color: white;

    &::after {
      width: 100%;
      height: 509px;
      background-image: url("../../img/grey-background2-tablet.svg");
      top: 216px;
    }
  }

  .information__container {
    display: grid;
    min-height: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px;
    padding: 0;
  }

  .information__iphone {
    height: 481px;
    background-image: url("../../img/iphone3-tablet.png");
    background-repeat: no-repeat;
    background-position: top left 31%;
    order: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/iphone3-tablet@2x.png");
      background-size: 268px 547px;
    }
  }

  .information__item {
    text-align: left;
    margin-bottom: 18px;
    padding-right: 10px;

    &:first-child {
      margin-bottom: 35px;
    }

    &:nth-child(2) {
      margin-bottom: 37px;
    }
  }

  .item-title__mood,
  .item-title__world {
    letter-spacing: -0.3px;
  }

  .item-title__friends {
    letter-spacing: -0.1px;
  }

  .social__list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    left: -7px;
  }

  .social__item:nth-child(2) {
    margin: 0 6px;
  }

  .contacts__container {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 22px;
    grid-template-areas:
      "call letter"
      "guest guest";
    padding: 32px 20px 20px;
  }

  .call {
    grid-area: call;
    left: 3px;
  }

  .letter {
    grid-area: letter;
    left: 14px;
  }

  .guest {
    grid-area: guest;
  }

  .page-footer__index {
    min-height: auto;
    padding-top: 32px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .user-contacts__title {
    display: block;
  }

  .user-box__title {
    margin-top: -110px;
    min-height: 440px;
    background-image: url("../../img/back-tablet.png");
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
    }
  }

  .user-box__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-top: 177px;
  }

  .user__container {
    border: 2px solid @border-color;
    border-radius: 1px;
    padding-bottom: 10px;
  }

  .user__name {
    border: none;
  }

  .checkbox__container {
    display: flex;
    height: 546px;
    flex-direction: column;
    align-items: flex-start;
  }

  .radio__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 39px;
  }

  .photo__container {
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 0 20px;
  }

  .filter__block {
    width: 300px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 8px 0 0 29px;
  }

  .icon__toggle {
    height: 22px;
    width: 22px;
    margin: 0;
    padding: 0;
  }

  .name__second-name,
  .name__name,
  .name__patronymic {
    margin-bottom: 0;
  }

  .user__form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .user-name {
    padding-top: 73px;
    order: 0;
  }

  .user-radio {
    background: white;
    order: 0;
  }

  .user-checkbox {
    background: white;
    margin-bottom: 60px;
    padding: 0;
    order: 2;
  }

  .emotion__title {
    margin-bottom: 36px;
  }

  .emotion__box {
    height: 191px;
    padding: 0 58px;
  }

  .user-emotion {
    padding: 0;
    margin-bottom: 67px;
    order: 2;
  }

  .user__button {
    min-width: 298px;
    min-height: 63px;
  }

  .user__submit {
    padding-right: 10px;
  }

  .small__block {
    padding-top: 17px;
    text-align: right;
  }

  .user__send {
    grid-area: send;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    order: 2;
  }

  .table__rates {
    width: 624px;
    margin-bottom: 68px;
  }

  .table__button {
    display: none;
  }

  .data-title {
    width: 136px;
    height: 78px;
    display: table-cell;
    padding: 2px 0 0 0;
    margin: 0;
  }

  .data__box {
    width: 136px;
    height: 44px;
    display: table-cell;
    padding: 0;
    margin: 0;
    padding-left: 17px;
  }

  .data-title__text {
    margin: 0;
  }

  .data__box-text {
    display: none;
  }

  .data__box-yes,
  .data__box-no {
    background-position: center;
  }

  .block-intro__button {
    width: 294px;
    height: 49px;
  }

  .table__block {
    padding: 0 20px;

    &::after {
      height: 400px;
      background-image: url("../../img/grey-background-tablet.svg");
      top: -110px;
      background-size: cover;
    }
  }

  .contacts__index {
    margin-bottom: 0;
    padding: 45px 0 0 0;

    &::after {
      width: 100%;
      bottom: 214px;
      clip-path: polygon(50% 42%, 0 0, 100% 0);
    }
  }

  .reviews,
  .page-footer__wrapper {
    padding: 0 20px;
  }

  .user__legend {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    padding: 91px 50px 0 50px;
  }

  .user__legend-filter {
    padding-top: 0;
    margin: 0;
  }

  .filter {
    padding-top: 44px;
  }

  .user__legend-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 70px;
  }

  .filter__image {
    width: 300px;
    height: 400px;
  }

  .user__catalog-tablet {
    margin-bottom: 77px;
  }

  .user__catalog--tablet {
    margin-bottom: 0;
  }

  .user__personal-data {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .checkbox__title {
    margin-bottom: 47px;
  }

  .checkbox__label::before {
    left: 27px;
    top: -4px;
  }

  .checkbox__input:checked + .checkbox__label::after {
    left: 36px;
    top: 4px;
  }

  .checkbox__selection {
    padding-left: 87px;
  }

  .checkbox__box {
    margin-bottom: 52px;
    padding-top: 0;
  }

  .name__label {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .name__input {
    width: 100%;
    min-height: 62px;
  }

  .name__text {
    margin-right: 18px;
    padding: 0;
  }

  .name__box {
    padding: 0;

    &:first-child {
      margin-bottom: 53px;
    }

    &:nth-child(2) {
      margin-bottom: 53px;
    }
  }

  .user-contacts__container {
    padding: 30px 58px 0 58px;
  }

  .user-radio__container {
    height: 292px;
  }

  .radio {
    padding-top: 29px;
    padding-bottom: 0;
    margin-bottom: 9px;
  }

  .radio__text {
    padding-left: 80px;
  }

  .contacts__desktop {
    display: flex;
    flex-direction: column;
  }

  .contacts__text {
    padding-top: 11px;
    padding-left: 19px;
  }

  .contacts__box {
    margin-bottom: 24px;
    padding: 0;
  }

  .contacts__input {
    width: 100%;
    min-height: 62px;
    box-sizing: border-box;
    padding-right: 60px;
  }

  .contacts__label {
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      height: 58px;
      width: 57px;
      right: 0;
      top: 0;
      border: 2px solid @border-color;
      background-color: @border-color;
      z-index: 5;
    }
  }

  .contacts-label__tel::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 19px;
    right: 22px;
    top: 21px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .contacts-label__mail::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 18px;
    right: 20px;
    top: 23px;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .checkbox__desktop {
    min-height: 492px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  .emotion__text {
    min-height: 191px;
    max-height: 191px;
  }

  .emotion__container {
    height: 285px;
  }

  .post__box-autor {
    width: 300px;
  }

  .post__information {
    min-height: 114px;
    display: flex;
    flex-direction: column;
    padding: 22px 30px 18px 30px;
    margin: -4px 0 0;
  }

  .like__img {
    order: 1;
    margin: 0 0 0 auto;
  }

  .post__like-box {
    order: 0;
  }

  .post-day__info {
    position: relative;
    min-height: 98px;
    margin: -4px 20px 0;
    padding: 23px 30px 0;
  }

  .post-day {
    margin-bottom: 50px;
  }

  .post__box {
    margin-bottom: 21px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 21px;
    }

    &:nth-child(3) {
      margin-bottom: 21px;
    }
  }

  .post-text {
    padding-right: 30px;
  }

  .post-day__autor {
    width: 200px;
    margin: 0;
    order: 0;
  }

  .page-footer__catalog {
    min-height: 90px;
    padding-top: 35px;
  }

  .post-day__like {
    position: absolute;
    content: "";
    right: 12px;
    order: 1;
    margin: auto 18px 0 0;
    padding: 0;
  }

  .post-day__like-box {
    display: flex;
    order: 0;
  }

  .post-day__img {
    display: flex;
    margin-left: 17px;
    order: 1;
  }

  .post-day__box {
    margin-top: 2px;
  }

  .post__box:nth-child(2) .post__autor {
    margin-bottom: 0;
  }

  .post-day__like-text {
    margin-right: 2px;
  }

  .autor__post-text {
    order: 0;
  }

  .like {
    margin-top: auto;
    margin-bottom: 5px;
  }

  .filter__box-photo {
    margin: 0;
    padding: 0;
  }

  .filter__icon {
    height: 169px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  .icon__box {
    text-align: left;
    height: 22px;
    width: 22px;
  }

  .icon__box-third {
    margin: -4px 0 0 3px;
  }

  .icon__range {
    display: none;
    width: 202px;
    top: 8px;
    box-sizing: border-box;
    left: 49px;
  }

  .button__send {
    margin: 0 0 25px;
  }

  .button__repeal {
    margin: 0 0 5px;
  }

  .button-post {
    width: 258px;
    height: 55px;
  }

  .post-day__photo {
    min-height: 509px;

    &::before {
      margin-top: 57px;
    }
  }

  .filter__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 20px 49px;
  }

  .block-intro__phone {
    display: none;
  }

  .map__box {
    min-height: 374px;
  }

  .clock__block {
    padding-top: 72px;
  }

  .page-header__logo-desktop,
  .page-header__logo-mobile {
    display: none;
  }

  .reviews__age {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 36px;
    order: 2;
  }

  .reviews__list {
    margin: 0;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-tablet:hover path {
    fill: @pink;
  }

  .page-header__logo-tablet:active path {
    fill: @pink;
    opacity: 0.3;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 35px 0;
    padding: 0;
    order: 0;
  }

  .reviews__author-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    letter-spacing: 0;
    margin: 0;
    order: 1;
  }

  .reviews {
    margin-bottom: 50px;

    &::after {
      height: 175px;
    }
  }

  .contacts {
    margin-bottom: 0;
    padding: 45px 0 0 0;
  }

  .contacts__block {
    position: relative;
  }

  .contacts__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    padding: 0 50px;
    letter-spacing: -0.7px;
  }

  .contacts__subtitle {
    margin-bottom: 4px;
  }

  .guest .contacts__link {
    padding: 0 200px;
  }

  .page-footer__copyright {
    position: relative;
    top: 11px;
  }

  .page-footer__social,
  .page-footer__logo {
    margin: 0;
  }

  .clock {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .clock__title {
    font-weight: bold;
    padding-right: 150px;
  }

  .reviews__wrapper {
    padding-top: 57px;
  }

  .name__title-second {
    display: inline;
  }

  .page-footer__form {
    min-height: 90px;
    padding-top: 50px;
  }

  .user-radio__title {
    margin-bottom: 36px;
  }

  .data-title__hit {
    background-image: url("../../img/hit-tablet.svg");
    background-position: left -2px top -1px;
  }

  .user-contacts {
    margin-bottom: 57px;
    order: 1;
  }

  .modal__failure {
    position: fixed;
    top: 20%;
    left: 100px;
    right: 100px;
    width: 460px;
    height: 322px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 70px;
    margin: 0 0 22px;
    letter-spacing: 1.1px;
  }

  .modal__text {
    padding: 0 70px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 26px;
  }

  .modal__button {
    min-width: 300px;
  }

  .modal__success {
    position: fixed;
    top: 20%;
    left: 100px;
    right: 100px;
    width: 460px;
    height: 390px;
    margin: 0 auto;
  }

  .modal__title-success {
    letter-spacing: 1.5px;
  }

  .modal__text-success {
    margin: 0 0 30px;
  }

  .modal__block-success {
    padding: 51px 0;
  }

  .post__photo-image {
    width: 100%;
  }

  .catalog__form {
    display: flex;
  }

  .range-box {
    top: 0;
  }

  .post__picture {
    padding: 0;
  }

  .range-box__hidden {
    display: block;
  }

  .icon__range-box {
    width: 202px;
    top: -5px;
    left: 51px;
  }

  .icon__range-crop .range-box__toggle {
    left: 96px;
  }

  .icon__range-fill {
    top: -6px;

    .range-box__toggle {
      left: 96px;
    }
  }

  .icon__range-contrast {
    top: -7px;

    .range-box__toggle {
      left: 96px;
    }
  }

  .information__item-title:first-child {
    letter-spacing: -1.3px;
  }

  .user__legend-catalog {
    padding: 91px 50px 0;
    margin-bottom: 77px;
  }

  .crop__normal,
  .contrast__normal,
  .fill__normal {
    display: none;
  }

  .crop__small,
  .contrast__small,
  .fill__small {
    display: block;
  }

  .contrast__small path,
  .fill__small path {
    fill: @pink;
  }

  .contrast__small:active path,
  .fill__small:active path,
  .contrast__small:hover path,
  .fill__small:hover path {
    fill: @pink;
  }
}

@media (min-width: @desktop-width) {
  .page {
    min-width: 1200px;
  }

  .post-day__info {
    min-width: 800px;
    min-height: 70px;
    margin: -4px 130px 0;
    padding: 24px 28px 0;
  }

  .photo__container {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 130px;
  }

  .post-text__desktop {
    padding: 0;
  }

  .post__information-autor {
    min-height: 114px;
    display: flex;
    flex-direction: column;
    padding: 23px 31px 18px 27px;
    margin: -4px 0 0;
  }

  .site-list__item {
    display: inline-block;
    height: 32px;
    box-shadow: none;
    margin-left: 79px;
  }

  .post__box {
    margin-bottom: 34px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 34px;
    }
  }

  .post-day {
    margin-bottom: 53px;
  }

  .site-list__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

  .page-header__logo {
    position: relative;
    top: -8px;
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    background-color: none;
  }

  .main-nav__wrapper {
    display: flex;
    padding: 0 130px 0 0;
  }

  .table__button,
  .main-nav__dropdown {
    display: none;
  }

  .main-nav__top {
    padding: 0 0 0 110px;
    box-shadow: none;
  }

  .page-main .block-intro__background {
    position: relative;
    min-height: 729px;
    background-image: url("../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }
  }

  .block-intro {
    width: 100%;
    min-height: 853px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../img/phone-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom right 4px;
    margin: -110px 0 0 0;
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-desktop@2x.png");
      background-position: bottom 0% right 3%;
      background-size: 1050px 645px;
    }
  }

  .block-intro__preview-display {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 37px;
    padding: 0 130px 0 90px;
  }

  .block-intro__link {
    margin-bottom: 66px;
    padding: 0 40px 0 0;
  }

  .block-intro__legend {
    padding: 0 140px 0 100px;
  }

  .block-intro__socials {
    padding-right: 63px;
    margin-bottom: 49px;
  }

  .block-intro__bottom {
    padding-top: 208px;
  }

  .information-title,
  .information__container,
  .page-footer__wrapper {
    padding: 0 130px;
  }

  .table__block {
    padding: 0 130px;
  }

  .information-block {
    margin: 0;
    padding-bottom: 168px;

    &::after {
      width: 100%;
      height: 623px;
      background-image: url("../../img/grey-background2-desktop.svg");
      top: 317px;
    }
  }

  .reviews {
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: top 73px center;
    padding: 142px 130px 0 130px;
    margin-bottom: 95px;

    &::after {
      height: 234px;
      background-image: url("../../img/grey-background-desktop.svg");
      bottom: -174px;
    }
  }

  .reviews__slider {
    display: none;
  }

  .reviews__wrapper {
    position: relative;
    padding-top: 44px;
  }

  .reviews__wrapper .reviews__slider-toggle {
    display: block;
    background-image: none;
  }

  .slider__toggle-left {
    position: absolute;
    top: 72px;
    left: -19px;
  }

  .slider__toggle-right {
    position: absolute;
    top: 72px;
    right: 17px;
  }

  .reviews__text {
    padding: 0 120px;
    margin-bottom: 36px;
  }

  .reviews__author-name {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 2px;
  }

  .reviews__age {
    font-size: 18px;
    line-height: 30px;
  }

  .information__container {
    display: grid;
    min-height: 500px;
    grid-template-columns: 1fr;
  }

  .information__iphone {
    display: none;
  }

  .information__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -0.8px;
  }

  .information__title {
    padding-top: 62px;
    margin-bottom: 5px;
  }

  .information__text:last-child {
    padding: 0 240px;
  }

  .information__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 52px;
  }

  .information__item-description {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .information__item-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .information__item {
    width: 280px;
    padding-top: 357px;
    position: relative;
    text-align: center;
    padding-right: 0;

    &::before {
      content: "";
      position: absolute;
      width: 186px;
      height: 380px;
    }

    &:first-child {
      background-image: url("../../img/iphone1.png");
      background-repeat: no-repeat;
      background-position: top left -21px;
    }

    &:nth-child(2) {
      background-image: url("../../img/iphone2.png");
      background-repeat: no-repeat;
      background-position: top center;
    }

    &:last-child {
      background-image: url("../../img/iphone3.png");
      background-repeat: no-repeat;
      background-position: top right -21px;
    }

    @media (min-resolution: 2dppx) {
      &:first-child {
        background-image: url("../../img/iphone1@2x.png");
        background-repeat: no-repeat;
        background-size: 308px 490px;
      }

      &:nth-child(2) {
        background-image: url("../../img/iphone2@2x.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 308px 490px;
      }

      &:last-child {
        background-image: url("../../img/iphone3@2x.png");
        background-repeat: no-repeat;
        background-size: 308px 490px;
      }
    }
  }

  .user__box {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
  }

  .contacts {
    padding-top: 61px;
  }

  .contacts__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  .contacts__container {
    display: grid;
    gap: 50px;
    grid-template-columns: 260px 280px 260px;
    grid-template-areas: "call guest letter";
    padding: 40px 130px 0 150px;
    margin-bottom: 20px;
  }

  .contacts__subtitle {
    margin-bottom: 21px;
  }

  .contacts .contacts__map {
    padding: 0;
  }

  .call {
    grid-area: call;
    left: 0;
  }

  .letter {
    grid-area: letter;
    left: 0;
  }

  .guest {
    grid-area: guest;
  }

  .guest .contacts__link {
    padding: 0;
  }

  .table__rates {
    width: 946px;
    margin-bottom: 92px;
  }

  .data-title {
    width: 233px;
    height: 94px;
  }

  .data__box {
    width: 220px;
    height: 59px;
    padding-left: 23px;
  }

  .data__box-text {
    display: none;
  }

  .data__box-yes,
  .data__box-no {
    background-position: center;
  }

  .filter__icon {
    display: flex;
    height: 182px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: -2px 0 0;
  }

  .clock {
    display: grid;
    grid-template-columns: 370px 1fr;
    background-color: @light-gray;
    padding: 11px 130px 60px 130px;
  }

  .clock__img {
    background-image: url("../../img/24-desktop.svg");
    background-position: left top;
  }

  .clock__block {
    padding-top: 94px;
  }

  .clock__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 26px;
    padding-right: 150px;
    letter-spacing: 0;
  }

  .clock__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .clock__link {
    font-size: 18px;
    line-height: 30px;
  }

  .contacts__user {
    margin-bottom: 0;
    padding: 0;
  }

  .contacts__box {
    width: 100%;
    margin-bottom: 13px;
    padding: 0;
  }

  .contacts__input {
    width: 100%;
    padding-left: 18px;
    box-sizing: border-box;
  }

  .user__form {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-columns: 445px 445px;
    grid-template-areas:
      "name radio"
      "contacts contacts"
      "checkbox checkbox"
      "emotion emotion"
      "send send";
  }

  .user-name {
    min-height: 295px;
    grid-area: name;
    margin: 0;
    padding-top: 56px;
  }

  .user-radio {
    margin: 0;
    padding: 41px 0 0 10px;
    grid-area: radio;
  }

  .user-radio__title {
    margin-bottom: 38px;
  }

  .radio__container {
    height: 305px;
    padding-left: 53px;
  }

  .user-contacts {
    grid-area: contacts;
    margin-bottom: 37px;
    padding: 0;
    order: 1;
  }

  .user-checkbox {
    grid-area: checkbox;
    margin-bottom: 36px;
    padding: 0;
  }

  .user-emotion {
    grid-area: emotion;
    margin-bottom: 47px;
    padding: 0;
  }

  .user-radio__container {
    height: 295px;
  }

  .user-box__title {
    margin-top: -110px;
    min-height: 394px;
    background-image: url("../../img/back-desktop.jpg");
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }
  }

  .name__label {
    padding-right: 10px;
  }

  .user-box__text {
    padding: 170px 210px 0;
    letter-spacing: -0.9px;
  }

  .user__legend {
    margin-bottom: 30px;
    padding: 91px 210px 0 210px;
  }

  .user__personal-data {
    display: flex;
    flex-direction: column;
  }

  .user-contacts__container {
    padding: 28px 60px 0 60px;
  }

  .filter {
    padding-top: 24px;
  }

  .user__legend-filter {
    margin: 0;
    padding: 0;
  }

  .user__legend-text {
    margin-bottom: 67px;
  }

  .contacts__text {
    margin: 0;
    padding-top: 11px;
    padding-left: 17px;
  }

  .contacts__label {
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      height: 58px;
      width: 55px;
      right: -1px;
      top: 0;
      border: 2px solid @border-color;
      background-color: @border-color;
      z-index: 5;
    }
  }

  .contacts-label__tel::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 19px;
    right: 20px;
    top: 21px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .contacts-label__mail::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 18px;
    right: 20px;
    top: 24px;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .name__box {
    padding: 0;

    &:first-child {
      margin-bottom: 55px;
    }

    &:nth-child(2) {
      margin-bottom: 54px;
    }
  }

  .name__title-second {
    display: inline;
    padding: 0;
  }

  .contacts__desktop {
    display: grid;
    grid-template-columns: 371px 371px;
    justify-content: space-between;
  }

  .checkbox__container {
    height: 227px;
    align-items: center;
  }

  .checkbox__desktop {
    display: grid;
    min-height: 140px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0;
    grid-auto-flow: column;
    justify-items: flex-start;
    padding: 0;
  }

  .checkbox__label::before {
    left: 15px;
  }

  .checkbox__сhuck,
  .checkbox__souvenirs {
    position: relative;
    padding: 0;
    left: 27px;

    &::before {
      left: 16px;
    }
  }

  .checkbox__tower,
  .checkbox__hotel {
    position: relative;
    padding: 0;
    left: 33px;

    &::before {
      left: 15px;
    }
  }

  .checkbox__input:checked + .checkbox__label::after {
    left: 23px;
    top: 3px;
  }

  .checkbox__selection {
    padding-left: 74px;
  }

  .emotion__box {
    height: 170px;
  }

  .user__send {
    padding: 0;
  }

  .user__submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .small__block {
    display: flex;
    justify-content: flex-end;
  }

  .small__text-desktop {
    display: inline;
  }

  .post-day__photo {
    height: 509px;

    &::before {
      right: 130px;
      margin-top: 54px;
    }
  }

  .filter__button {
    display: flex;
  }

  .filter__block {
    width: 450px;
    padding: 0 0 0 35px;
    margin: 0;
  }

  .button-post {
    width: 183px;
    height: 55px;
    margin: 0 0 4px 2px;
    padding: 0;
  }

  .button__send {
    margin-right: 41px;
  }

  .filter__container {
    flex-direction: row;
    padding: 57px 55px 53px 80px;
    margin: 0 130px;
  }

  .icon__toggle {
    width: 48px;
    height: 48px;

    &:nth-child(2) {
      padding-left: 2px;
    }
  }

  .icon__box {
    width: 48px;
    height: 48px;
  }

  .filter__box-photo {
    margin: 0;
    padding: 0;
  }

  .icon__range {
    display: none;
    width: 288px;
    left: 92px;
  }

  .icon__range-crop {
    top: 19px;
  }

  .map__box {
    min-height: 502px;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet,
  .logo__mobile-tablet {
    display: none;
  }

  .page-header__logo-desktop,
  .logo__desktop {
    display: block;
  }

  .page-header__logo-desktop:hover path,
  .logo__desktop:hover path {
    fill: @pink;
  }

  .page-header__logo-desktop:active path,
  .logo__desktop:active path {
    fill: @pink;
    opacity: 0.3;
  }

  .page-footer {
    padding-top: 67px;
  }

  .page-footer__catalog {
    padding-top: 98px;
  }

  .copyright__text {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 2px;
    padding: 0 13px 0 0;
  }

  .data__first {
    font-size: 18px;
    line-height: 30px;
  }

  .data-title__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 7px;
  }

  .emotion__container {
    height: 210px;
  }

  .emotion__title {
    margin-bottom: 34px;
  }

  .emotion__text {
    min-height: 100px;
    max-height: 128px;
    padding: 14px 0 0 20px;
  }

  .block-intro__button {
    height: 50px;
    letter-spacing: 2px;
  }

  .socials__link {
    position: relative;

    &:nth-child(1) {
      top: 1px;
      left: -4px;
    }

    &:nth-child(2) {
      top: 0;
      left: -1px;
      margin: 0 30px;
    }

    &:nth-child(3) {
      top: -2px;
      left: 6px;
    }
  }

  .item-title__mood {
    letter-spacing: 1.5px;
    padding-right: 13px;
  }

  .item-title__world {
    letter-spacing: 1.5px;
    padding: 0 20px;
  }

  .item-title__friends {
    letter-spacing: 1.5px;
    padding-left: 13px;
  }

  .information__item-title:first-child {
    margin-bottom: 22px;
    letter-spacing: 0;
  }

  .user__catalog-tablet,
  .user__catalog--tablet,
  .site-list__mobile,
  .clock__tablet,
  .item-description__tablet {
    display: none;
  }

  .user__catalog-desktop,
  .user__catalog--desktop,
  .clock__desktop,
  .item-description__desktop {
    display: block;
  }

  .item__mood .item-description__desktop {
    left: -7px;
  }

  .item__friends .item-description__desktop {
    left: 7px;
  }

  .social__list {
    top: -2px;
    left: 3px;
  }

  .social__item:nth-child(2) {
    margin: 0 3px;
  }

  .page-footer__copyright {
    position: relative;
    top: 10px;
  }

  .data-title__hit {
    background-image: url("../../img/hit.svg");
    background-position: left 0 top -2px;
  }

  .contacts__index {
    margin-bottom: 0;

    &::after {
      width: 100%;
      bottom: 342px;
      clip-path: polygon(50% 63%, 0 0, 100% 0);
    }
  }

  .modal__failure {
    position: fixed;
    width: 780px;
    height: 337px;
    margin: 0 auto;
    padding-top: 40px;
    top: 20%;
    left: 210px;
    right: 210px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 70px;
    margin: 0 0 22px;
    letter-spacing: 1.1px;
  }

  .modal__text {
    padding: 0 185px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 106px;
  }

  .modal__button {
    min-width: 300px;
  }

  .modal__success {
    position: fixed;
    width: 780px;
    height: 337px;
    margin: 0 auto;
    top: 20%;
    left: 210px;
    right: 210px;
  }

  .modal__title-success {
    letter-spacing: 1.5px;
  }

  .modal__text-success {
    margin: 0 0 39px;
  }

  .modal__block-success {
    padding: 51px 0;
  }

  .modal__button-success {
    width: 458px;
  }

  .site-list__desktop {
    text-transform: capitalize;

    &:hover {
      color: @pink;
    }

    &:active {
      color: @pink;
      opacity: 0.3;
    }
  }

  .site-list__item--active {
    position: relative;

    &::after {
      width: 100%;
      height: 50px;
      content: "";
      position: absolute;
      border-bottom: 2px solid white;
      left: 0;
      bottom: -5px;
    }
  }

  .range-box {
    position: absolute;
    height: 15px;
    width: 288px;
    left: 94px;
    background-color: transparent;
    border-radius: 5px;
    padding-top: 15px;
    z-index: 50;
  }

  .range-box__scale {
    height: 2px;
    background: @dark-blue;
  }

  .range-box__toggle {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 2px solid @pink;
    background-color: white;
    border-radius: 50%;
  }

  .icon__range-box {
    width: 288px;
    top: 5px;
    left: 92px;
  }

  .icon__range-crop .range-box__toggle {
    left: 130px;
    top: 9px;
  }

  .icon__range-fill {
    top: 11px;
    left: 92px;

    .range-box__toggle {
      top: 9px;
      left: 130px;
    }
  }

  .icon__range-contrast {
    top: 14px;
    left: 92px;

    .range-box__toggle {
      top: 9px;
      left: 130px;
    }
  }

  .page-footer__form {
    padding-top: 70px;
  }

  .user__legend-catalog {
    margin-bottom: 89px;
    padding: 91px 210px 0 210px;
  }

  .user-box__text-catalog {
    padding: 170px 300px 0;
    letter-spacing: -1px;
  }

  .crop__small,
  .contrast__small,
  .fill__small {
    display: none;
  }

  .crop__normal {
    display: block;
    margin: -6px 0 0 0;
  }

  .contrast__normal {
    display: block;
    margin: 18px 0 0 3px;
  }

  .fill__normal {
    display: block;
    margin: 4px 0 0 0;
  }

  .contrast__normal path,
  .fill__normal path {
    fill: @pink;
  }

  .icon__crop:hover path,
  .icon__fill:hover path,
  .icon__contrast:hover path,
  .icon__crop:active path,
  .icon__fill:active path,
  .icon__contrast:active path {
    fill: @pink;
    opacity: 1;
  }
}
