@pink: #d22856;
@dark-blue: #283645;
@dark: #252527;
@light-gray: #f2f2f2;
@border-color: #e5e5e5;
@background-fone: #1d2631;
@button-green: #2aab6d;
@background-glassy: rgba(0, 0, 0, 0.3);
@light-border: rgba(40, 54, 69, 0.1);

@mobile-width-only: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
@import "global/fonts.less";
@import "blocks/page.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/block-intro.less";
@import "blocks/phone.less";
@import "blocks/information.less";
@import "blocks/iphone.less";
@import "blocks/author.less";
@import "blocks/table.less";
@import "blocks/contacts.less";
@import "blocks/social.less";
@import "blocks/data.less";
@import "blocks/row.less";
@import "blocks/page-footer.less";
@import "blocks/button.less";
@import "blocks/socials.less";
@import "blocks/copyright.less";
@import "blocks/reviews.less";
@import "blocks/user-box.less";
@import "blocks/user.less";
@import "blocks/name.less";
@import "blocks/checkbox.less";
@import "blocks/radio.less";
@import "blocks/small.less";
@import "blocks/modal.less";
@import "blocks/text-input.less";
@import "blocks/emotion.less";
@import "blocks/visually-hidden.less";
@import "blocks/photo.less";
@import "blocks/post.less";
@import "blocks/like.less";
@import "blocks/icon.less";
@import "blocks/filter.less";
@import "blocks/clock.less";
@import "blocks/slider.less";

@media (min-width: @mobile-width-only) {
  .main-nav--closed .main-nav__dropdown::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 24px;
    background-image: url("../../img/open-menu-btn.svg");
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__dropdown&::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/close-menu-btn.svg");
  }

  .block-intro__preview {
    position: absolute;
    line-height: 120%;
    top: 88px;
    left: 0;
    right: 0;
    padding: 0 20px;
    order: 0;
  }

  .block-intro__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 460px;
    background-image: url("../../img/back-mobile.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-mobile@2x.png");
    }
  }

  .block-intro__phone {
    position: relative;
    height: 286px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../../img/phone.png");
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      width: 320px;
      background-image: url("../../img/phone@2x.png");
      background-position: top center;
      background-size: cover;
    }
  }

  .block-intro {
    margin-top: -65px;
  }

  .data__first {
    display: none;
  }

  .data-title,
  .data__box {
    display: none;
  }

  .data-title__hit,
  .data__box-visible {
    display: table-cell;
  }

  .information__iphone {
    height: 279px;
    background-image: url("../../img/iphone3-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    order: 0;
  }

  .contacts__index {
    padding: 43px 0 25px;
  }

  .contacts__container {
    padding: 34px 20px;
  }

  .information__title {
    padding: 42px 20px;
    margin-bottom: 32px;
  }

  .information__container {
    padding-top: 10px;
  }

  .information__item-title {
    margin-bottom: 10px;

    &:first-child {
      margin-bottom: 11px;
    }
  }

  .information__item {
    margin-bottom: 5px;

    &:first-child {
      margin-bottom: 32px;
    }

    &:nth-child(2) {
      margin-bottom: 33px;
    }
  }

  .block-intro__bottom {
    padding: 28px 20px 31px;
  }

  .social__list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .reviews,
  .table__block,
  .page-footer__wrapper {
    padding: 0 20px;
  }

  .clock,
  .block-intro__preview-display {
    display: none;
  }

  .user-box__title {
    height: 240px;
    margin-top: -69px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-mobile@2x.png");
    }
  }

  .user-contacts__title {
    display: none;
  }

  .user-box__text {
    padding-top: 96px;
  }

  .emotion__text,
  .emotion__box {
    height: 197px;
  }

  .post__box-autor {
    &:nth-child(1) {
      .post__photo {
        background-image: url("../../img/photo-1-mobile.png");
      }
    }

    &:nth-child(2) {
      .post__photo {
        background-image: url("../../img/photo-2-mobile.png");
      }
    }

    &:nth-child(3) {
      .post__photo {
        background-image: url("../../img/photo-3-mobile.png");
      }
    }

    &:nth-child(4) {
      .post__photo {
        background-image: url("../../img/photo-4-mobile.png");
      }
    }

    &:nth-child(5) {
      .post__photo {
        background-image: url("../../img/photo-5-mobile.png");
      }
    }

    &:nth-child(6) {
      .post__photo {
        background-image: url("../../img/photo-6-mobile.png");
      }
    }
  }

  .map__box {
    min-height: 200px;
  }

  .page-header__logo-desktop,
  .page-header__logo-tablet,
  .logo__desktop {
    display: none;
  }

  .slider__toggle-left,
  .slider__toggle-right {
    display: none;
  }

  .user-name {
    padding-top: 33px;
  }

  .name__box {
    padding-bottom: 0;

    &:first-child {
      margin-bottom: 17px;
    }

    &:nth-child(2) {
      margin-bottom: 17px;
    }
  }

  .name__second-name,
  .name__name,
  .name__patronymic {
    margin-bottom: 4px;
  }

  .name__text {
    padding-left: 23px;
  }

  .name__input {
    padding-left: 20px;
  }

  .information__list {
    margin-bottom: 41px;
  }

  .reviews {
    margin-bottom: 80px;
  }

  .reviews__wrapper {
    padding-top: 40px;
  }

  .page-footer__index {
    padding-top: 11px;
  }

  .contacts__user {
    padding: 33px 20px 25px 20px;
  }

  .page-footer__form {
    padding-top: 56px;
  }

  .user-radio__title {
    margin-bottom: 26px;
  }

  .checkbox__title {
    padding: 0 35px;
  }


  .clock__tablet,
  .clock__desktop,
  .item-description__tablet,
  .item-description__desktop {
    display: none;
  }
}

@media (max-width: 1199px) {
  .site-list__item {
    height: 63px;
    border: none;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__dropdown {
    display: none;
  }

  .page-header .main-nav--opened {
    background-color: @dark-blue;
  }

  .letter {
    margin-bottom: 20px;
  }

  .call {
    margin-bottom: 17px;
  }

  .reviews__age {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav--closed .main-nav__dropdown::before {
    content: "";
    position: absolute;
    top: 43px;
    right: 20px;
    width: 50px;
    height: 24px;
    background-image: url("../../img/open-menu-btn.svg");
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__dropdown&::before {
    content: "";
    position: absolute;
    top: 43px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/close-menu-btn.svg");
  }

  .page {
    min-width: 660px;
  }

  .main-nav__top {
    height: 110px;
  }

  .page-header__logo {
    position: absolute;
    top: 27px;
    left: 20px;
    width: 145px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .clock__mobile,
  .item-description__mobile {
    display: none;
  }

  .clock__tablet,
  .item-description__tablet {
    display: block;
  }

  .information__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 0 0 0;
    order: 1;
  }

  .block-intro__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
  }

  .block-intro__preview {
    display: none;
  }

  .block-intro__preview-display {
    display: block;
    position: relative;
    top: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 30px;
    padding: 0 40px;
  }

  .block-intro__link {
    margin-bottom: 40px;
  }

  .block-intro__socials {
    display: block;
    margin-bottom: 35px;
  }

  .information__title {
    padding: 47px 0 0 0;
    margin-bottom: 35px;
  }

  .information__text {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    margin: 0;

    &:last-child {
      padding: 0 50px;
    }
  }

  .block-intro__legend {
    font-size: 18px;
  }

  .block-intro__bottom {
    background-color: transparent;
    background-image: none;
    padding: 204px 0 0 0;
    order: 0;
  }

  .socials__link {
    position: relative;

    &:nth-child(1) {
      top: 6px;
      left: -2px;
    }

    &:nth-child(2) {
      top: 2px;
      left: -2px;
      margin: 0 30px;
    }

    &:nth-child(3) {
      top: -1px;
      left: -1px;
    }
  }

  .block-intro__box,
  .block-intro__phone {
    background-image: none;
  }

  .page-main .block-intro__background {
    position: relative;
    min-height: 729px;
    width: auto;
    background-image: url("../../img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
    }
  }

  .block-intro {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 729px;
    background-image: url("../../img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    margin-top: -110px;
    padding: 0 9px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-tablet@2x.png");
      background-position: bottom center;
      background-size: 660px 545px;
    }
  }

  .data__first {
    display: table-cell;
  }

  .information-block {
    margin-bottom: 25px;
    background-color: white;

    &::after{
      width: 660px;
      height: 509px;
      background-image: url("../../img/grey-background2-tablet.svg");
      top: 216px;
    }
  }

  .information__container {
    display: grid;
    min-height: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px;
    padding: 0;
  }

  .information__iphone {
    height: 481px;
    background-image: url("../../img/iphone3-tablet.png");
    background-repeat: no-repeat;
    background-position: top left 31%;
    order: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/iphone3-tablet@2x.png");
      background-size: 268px 547px;
    }
  }

  .information__item {
    text-align: left;
    margin-bottom: 18px;
    padding-right: 10px;

    &:first-child {
      margin-bottom: 35px;
    }

    &:nth-child(2) {
      margin-bottom: 37px;
    }
  }

  .item-title__mood,
  .item-title__world {
    letter-spacing: -0.3px;
  }

  .item-title__friends {
    letter-spacing: -0.1px;
  }

  .social__list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    left: -7px;
  }

  .social__item:nth-child(2) {
    margin: 0 6px;
  }

  .contacts__container {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 22px;
    grid-template-areas:
      "call letter"
      "guest guest";
  }

  .call {
    grid-area: call;
    left: 3px;
  }

  .letter {
    grid-area: letter;
    left: 14px;
  }

  .guest {
    grid-area: guest;
  }

  .page-footer__index {
    min-height: auto;
    padding-top: 32px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .user-contacts__title {
    display: block;
  }

  .user-box__title {
    margin-top: -110px;
    height: 440px;
    background-image: url("../../img/back-tablet.png");
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
    }
  }

  .user-box__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-top: 177px;
  }

  .user__container {
    border: 2px solid @border-color;
    border-radius: 1px;
    padding-bottom: 10px;
  }

  .user__name {
    border: none;
  }

  .checkbox__container {
    display: flex;
    height: 546px;
    flex-direction: column;
    align-items: flex-start;
  }

  .radio__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .photo__container {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }

  .filter__block {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .name__second-name,
  .name__name,
  .name__patronymic {
    margin-bottom: 0;
  }

  .user__form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .user-name {
    padding-top: 73px;
    order: 0;
  }

  .user-radio {
    background: white;
    order: 0;
  }

  .user-contacts {
    order: 1;
  }

  .user-checkbox {
    background: white;
    margin-bottom: 60px;
    padding: 0;
    order: 2;
  }

  .emotion__title {
    margin-bottom: 36px;
  }

  .emotion__box {
    height: 191px;
    padding: 0 58px;
  }

  .user-emotion {
    padding: 0;
    margin-bottom: 67px;
    order: 2;
  }

  .user__button {
    min-width: 298px;
    min-height: 63px;
  }

  .user__submit {
    padding-right: 10px;
  }

  .small__block {
    padding-top: 17px;
    text-align: right;
  }

  .user__send {
    grid-area: send;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    order: 2;
  }

  .table__rates {
    width: 624px;
    margin-bottom: 68px;
  }

  .table__button {
    display: none;
  }

  .data-title {
    width: 136px;
    height: 78px;
    display: table-cell;
    padding: 2px 0 0 0;
    margin: 0;
  }

  .data__box {
    width: 136px;
    height: 44px;
    display: table-cell;
    padding: 0;
    margin: 0;
    padding-left: 17px;
  }

  .data-title__text {
    margin: 0;
  }

  .data__box-text {
    display: none;
  }

  .data__box-yes,
  .data__box-no {
    background-position: center;
  }

  .block-intro__button {
    width: 294px;
    height: 49px;
  }

  .table__block {
    padding: 0 20px;

    &::after{
      width: 660px;
      height: 400px;
      background-image: url("../../img/grey-background-tablet.svg");
      top: -110px;
    }
  }

  .contacts__index {
    &::after {
      width: 660px;
      height: 123px;
      background-image: url("../../img/triangle-white-footer-tablet.svg");
      bottom: 309px;
    }
  }

  .reviews,
  .page-footer__wrapper {
    padding: 0 20px;
  }

  .user__legend {
    font-size: 18px;
    line-height: 30px;
    padding: 91px 50px 0 50px;
  }

  .user__personal-data {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .checkbox__title {
    margin-bottom: 47px;
  }

  .checkbox__label::before {
    left: 27px;
    top: -4px;
  }

  .checkbox__input:checked + .checkbox__label::after {
    left: 36px;
    top: 4px;
  }

  .checkbox__selection {
    padding-left: 87px;
  }

  .checkbox__box {
    margin-bottom: 52px;
    padding-top: 0;
  }

  .name__label {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .name__input {
    width: 100%;
    min-height: 62px;
  }

  .name__text {
    margin-right: 18px;
    padding: 0;
  }

  .name__box {
    padding: 0;

    &:first-child {
      margin-bottom: 53px;
    }

    &:nth-child(2) {
      margin-bottom: 53px;
    }
  }

  .user-contacts__container {
    padding: 30px 58px 0 58px;
  }

  .user-radio__container {
    height: 292px;
  }

  .radio {
    padding-top: 29px;
    padding-bottom: 0;
    margin-bottom: 43px;
  }

  .radio__container {
    display: flex;
    padding-left: 39px;
  }

  .radio__text {
    padding-left: 80px;
  }

  .contacts__desktop {
    display: flex;
    flex-direction: column;
  }

  .contacts__text {
    padding-top: 11px;
    padding-left: 19px;
  }

  .contacts__box {
    margin-bottom: 24px;
    padding: 0;
  }

  .contacts__input {
    width: 100%;
    min-height: 62px;
    box-sizing: border-box;
    padding-right: 60px;
  }

  .contacts__label {
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      height: 57px;
      width: 57px;
      right: 0;
      top: 0;
      border: 2px solid @border-color;
      background-color: @border-color;
      z-index: 5;
    }
  }

  .contacts-label__tel::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 19px;
    right: 22px;
    top: 21px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .contacts-label__mail::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 18px;
    right: 20px;
    top: 23px;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .checkbox__desktop {
    min-height: 492px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  .emotion__text {
    min-height: 193px;
  }

  .emotion__container {
    height: 285px;
  }

  .post__box-autor {
    width: 300px;
  }

  .post__information {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0;
  }

  .post-day__info {
    margin: 0 20px;
  }

  .post__autor {
    margin: 0;
  }

  .like {
    margin-top: auto;
  }

  .filter__box-photo {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .filter__icon {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
  }

  .icon__box {
    text-align: left;
  }

  .icon__range {
    display: inline-block;
    top: 15px;
    box-sizing: border-box;
    left: 60px;
  }

  .post-day__photo {
    min-height: 509px;

    &::before {
      margin-top: 60px;
    }
  }

  .filter__container {
    flex-direction: row;
    justify-content: space-around;
  }

  .block-intro__phone {
    display: none;
  }

  .map__box {
    min-height: 374px;
  }

  .clock__block {
    padding-top: 72px;
  }

  .page-header__logo-desktop,
  .page-header__logo-mobile {
    display: none;
  }

  .reviews__age {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 36px;
    order: 2;
  }

  .reviews__list {
    margin: 0;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 35px 0;
    padding: 0;
    order: 0;
  }

  .reviews__author-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 0;
    order: 1;
  }

  .reviews {
    margin-bottom: 53px;
  }

  .contacts {
    margin-bottom: 58px;
    padding: 45px 0 0 0;
  }

  .contacts__block {
    position: relative;
  }

  .contacts__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    padding: 0 50px;
  }

  .contacts__subtitle {
    margin-bottom: 5px;
  }

  .contacts__container {
    padding: 30px 20px 20px;
  }

  .guest .contacts__link {
    padding: 0 200px;
  }

  .page-footer__copyright {
    position: relative;
    top: 11px;
  }

  .page-footer__social,
  .page-footer__logo {
    margin: 0;
  }

  .clock {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .clock__title {
    font-weight: bold;
    padding-right: 150px;
    letter-spacing: 0.75px;
  }

  .reviews__wrapper {
    padding-top: 57px;
  }

  .name__title-second {
    display: inline;
  }

  .page-footer__form {
    padding-top: 50px;
  }

  .user-radio__title {
    margin-bottom: 36px;
  }

  .contacts__index {
    margin-bottom: 0;

    &::after {
      width: 1200px;
      height: 123px;
      background-image: url("../../img/triangle-white-footer-desktop.svg");
      bottom: 403px;
    }
  }

  .data-title__hit {
    background-image: url("../../img/hit-tablet.svg");
    background-position: left -2px top -1px;
  }
}

@media (min-width: @desktop-width) {
  .page {
    min-width: 1200px;
  }

  .post-day__info {
    min-width: 900px;
    margin: 0 110px;
  }

  .photo__container {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 100px;
  }

  .site-list__item {
    display: inline-block;
    box-shadow: none;
    margin-left: 75px;

    &--active {
      border-bottom: 2px solid white;
    }
  }

  .site-list__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

  .page-header__logo {
    position: relative;
    top: -8px;
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    background-color: none;
  }

  .main-nav__wrapper {
    display: flex;
    padding: 0 130px 0 0;
  }

  .table__button,
  .main-nav__dropdown {
    display: none;
  }

  .main-nav__top {
    padding: 0 0 0 110px;
    box-shadow: none;
  }

  .page-main .block-intro__background {
    position: relative;
    min-height: 729px;
    background-image: url("../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }
  }

  .block-intro {
    width: 100%;
    min-height: 853px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../img/phone-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom right 4px;
    margin: -110px 0 0 0;
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-desktop@2x.png");
      background-position: bottom 0% right 10%;
      background-size: 1050px 645px;
    }
  }

  .block-intro__preview-display {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 37px;
    padding: 0 130px 0 90px;
  }

  .block-intro__link {
    margin-bottom: 66px;
    padding: 0 40px 0 0;
  }

  .block-intro__legend {
    padding: 0 140px 0 100px;
  }

  .block-intro__socials {
    padding-right: 63px;
    margin-bottom: 49px;
  }

  .block-intro__bottom {
    padding-top: 208px;
  }

  .information-title,
  .information__container,
  .page-footer__wrapper {
    padding: 0 130px;
  }

  .table__block {
    padding: 0 130px;

    &::after{
      width: 1200px;
      height: 534px;
      background-image: url("../../img/grey-background-desktop.svg");
      top: -157px;
    }
  }

  .information-block {
    margin: 0;
    padding-bottom: 168px;

    &::after{
      width: 1200px;
      height: 623px;
      background-image: url("../../img/grey-background2-desktop.svg");
      top: 317px;
    }
  }

  .reviews {
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: top 73px center;
    padding: 142px 130px 0 130px;
    margin-bottom: 98px;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__wrapper {
    position: relative;
    padding-top: 44px;
  }

  .reviews__wrapper .reviews__slider-toggle {
    display: block;
    background-image: none;
  }

  .slider__toggle-left {
    position: absolute;
    top: 72px;
    left: -19px;
  }

  .slider__toggle-right {
    position: absolute;
    top: 72px;
    right: 17px;
  }

  .reviews__text {
    padding: 0 120px;
    margin-bottom: 36px;
  }

  .reviews__author-name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__age {
    font-size: 18px;
    line-height: 30px;
  }

  .information__container {
    display: grid;
    min-height: 500px;
    grid-template-columns: 1fr;
  }

  .information__iphone {
    display: none;
  }

  .information__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  .information__title {
    padding-top: 62px;
    margin-bottom: 5px;
  }

  .information__text:last-child {
    padding: 0 240px;
  }

  .information__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 52px;
  }

  .information__item-description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .information__item-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 22px;

  }

  .information__item {
    width: 280px;
    padding-top: 357px;
    position: relative;
    text-align: center;
    padding-right: 0;

    &::before {
      content: "";
      position: absolute;
      width: 186px;
      height: 380px;
    }

    &:first-child {
      background-image: url("../../img/iphone1.png");
      background-repeat: no-repeat;
      background-position: top left -21px;
    }

    &:nth-child(2) {
      background-image: url("../../img/iphone2.png");
      background-repeat: no-repeat;
      background-position: top center;
    }

    &:last-child {
      background-image: url("../../img/iphone3.png");
      background-repeat: no-repeat;
      background-position: top right -21px;
    }

    @media (min-resolution: 2dppx) {
      &:first-child {
        background-image: url("../../img/iphone1@2x.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 308px 490px;
      }

      &:nth-child(2) {
        background-image: url("../../img/iphone2@2x.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 308px 490px;
      }

      &:last-child {
        background-image: url("../../img/iphone3@2x.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 308px 490px;
      }
    }
  }

  .user__box {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
  }

  .contacts {
    padding-top: 61px;
  }

  .contacts__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  .contacts__container {
    display: grid;
    gap: 50px;
    grid-template-columns: 260px 280px 260px;
    grid-template-areas: "call guest letter";
    padding: 40px 130px 0 150px;
    margin-bottom: 20px;
  }

  .contacts__subtitle {
    margin-bottom: 19px;
  }

  .contacts .contacts__map {
    padding: 0;
  }

  .call {
    grid-area: call;
    left: 0;
  }

  .letter {
    grid-area: letter;
    left: 0;
  }

  .guest {
    grid-area: guest;
  }

  .guest .contacts__link {
    padding: 0;
  }

  .table__rates {
    width: 940px;
    margin-bottom: 92px;
  }

  .data-title {
    width: 233px;
    height: 94px;
  }

  .data__box {
    width: 220px;
    height: 59px;
    padding-left: 20px;
  }

  .data__box-text {
    display: none;
  }

  .data__box-yes,
  .data__box-no {
    background-position: center;
  }

  .filter__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .clock {
    display: grid;
    grid-template-columns: 370px 1fr;
    background-color: @light-gray;
    padding: 11px 130px 60px 130px;
  }

  .clock__img {
    background-image: url("../../img/24-desktop.svg");
    background-position: left top;
  }

  .clock__block {
    padding-top: 94px;
  }

  .clock__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 31px;
  }

  .clock__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 26px;
  }

  .clock__link {
    font-size: 18px;
    line-height: 30px;
  }

  .contacts__user {
    margin-bottom: 0;
    padding: 0;
  }

  .contacts__box {
    margin-bottom: 13px;
  }

  .contacts__input {
    padding-left: 18px;
  }

  .user__form {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-columns: 445px 445px;
    grid-template-areas:
      "name radio"
      "contacts contacts"
      "checkbox checkbox"
      "emotion emotion"
      "send send";
  }

  .user-name {
    min-height: 295px;
    grid-area: name;
    margin: 0;
    padding-top: 56px;
  }

  .user-radio {
    margin: 0;
    padding: 41px 0 0 10px;
    grid-area: radio;
  }

  .user-radio__title {
    margin-bottom: 38px;
  }

  .radio__container {
    height: 305px;
    padding-left: 53px;
  }

  .user-contacts {
    grid-area: contacts;
    margin-bottom: 37px;
    padding: 0;
    order: 1;
  }

  .user-checkbox {
    grid-area: checkbox;
    margin-bottom: 36px;
    padding: 0;
  }

  .user-emotion {
    grid-area: emotion;
    margin-bottom: 47px;
    padding: 0;
  }

  .user-radio__container {
    height: 295px;
  }

  .user-box__title {
    margin-top: -110px;
    height: 394px;
    background-image: url("../../img/back-desktop.jpg");
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }
  }

  .name__label {
    padding-right: 10px;
  }

  .user-box__text {
    padding: 170px 130px 0 130px;
  }

  .user__legend {
    margin-bottom: 30px;
    padding: 91px 210px 0 210px;
  }

  .user__personal-data {
    display: flex;
    flex-direction: column;
  }

  .user-contacts__container {
    padding: 28px 60px 0 60px;
  }

  .contacts__input {
    width: 100%;
    box-sizing: border-box;
  }

  .contacts__text {
    margin: 0;
    padding-top: 11px;
    padding-left: 17px;
  }

  .contacts__box {
    width: 100%;
    padding: 0;
  }

  .contacts__label {
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      height: 57px;
      width: 55px;
      right: 0;
      top: 0;
      border: 2px solid @border-color;
      background-color: @border-color;
      z-index: 5;
    }
  }

  .contacts-label__tel::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 19px;
    right: 20px;
    top: 21px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .contacts-label__mail::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 18px;
    right: 20px;
    top: 24px;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .name__box {
    padding: 0;

    &:first-child {
      margin-bottom: 55px;
    }

    &:nth-child(2) {
      margin-bottom: 54px;
    }
  }

  .name__title-second {
    display: inline;
    padding: 0;
  }

  .contacts__desktop {
    display: grid;
    grid-template-columns: 371px 371px;
    justify-content: space-between;
  }

  .checkbox__container {
    height: 227px;
    align-items: center;
  }

  .checkbox__desktop {
    display: grid;
    min-height: 140px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0;
    grid-auto-flow: column;
    justify-items: flex-start;
    padding: 0;
  }

  .checkbox__label::before {
    left: 15px;
  }

  .checkbox__сhuck,
  .checkbox__souvenirs {
    position: relative;
    padding: 0;
    left: 27px;

    &::before {
      left: 16px;
    }
  }

  .checkbox__tower,
  .checkbox__hotel {
    position: relative;
    padding: 0;
    left: 33px;

    &::before {
      left: 15px;
    }
  }

  .checkbox__input:checked + .checkbox__label::after {
    left: 23px;
    top: 3px;
  }

  .checkbox__selection {
    padding-left: 74px;
  }

  .emotion__box {
    height: 170px;
  }

  .user__send {
    padding: 0;
  }

  .user__submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .small__block {
    display: flex;
    justify-content: flex-end;
  }

  .small__text-desktop {
    display: inline;
  }

  .post-day__photo {
    height: 509px;

    &::before {
      right: 130px;
    }
  }

  .filter__button {
    display: flex;
  }

  .filter__block {
    width: 450px;
  }

  .button-post {
    width: 183px;
    height: 55px;
  }

  .filter__container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icon__range {
    width: 288px;
    left: 100px;
  }

  .map__box {
    min-height: 502px;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet,
  .logo__mobile-tablet {
    display: none;
  }

  .page-header__logo-desktop,
  .logo__desktop {
    display: block;
  }

  .page-footer {
    padding-top: 67px;
  }

  .copyright__text {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 0 0;
  }

  .data__first {
    font-size: 18px;
    line-height: 30px;
  }

  .data-title__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 7px;
  }

  .emotion__container {
    height: 210px;
  }

  .emotion__title {
    margin-bottom: 34px;
  }

  .emotion__text {
    min-height: 100px;
    max-height: 128px;
    padding: 13px 0 0 20px;
  }

  .block-intro__button {
    height: 50px;
    letter-spacing: 3px;
  }

  .socials__link {
    position: relative;

    &:nth-child(1) {
      top: 1px;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      left: -1px;
      margin: 0 30px;
    }

    &:nth-child(3) {
      top: -2px;
      left: 2px;
    }
  }

  .item-title__mood {
    letter-spacing: 1.5px;
    padding-right: 13px;
  }

  .item-title__world {
    letter-spacing: 1.5px;
    padding: 0 20px;
  }

  .item-title__friends {
    letter-spacing: 1.5px;
    padding-left: 13px;
  }

  .information__item-title:first-child {
    margin-bottom: 22px;
  }

  .information__item-description {
    position: relative;
  }

  .clock__tablet,
  .item-description__tablet {
    display: none;
  }

  .clock__desktop,
  .item-description__desktop {
    display: block;
  }

  .item__mood .item-description__desktop {
    left: -7px;
  }

  .item__friends .item-description__desktop {
    left: 7px;
  }

  .clock__title {
    font-weight: bold;
    margin-bottom: 26px;
    padding-right: 150px;
    letter-spacing: 1.3px;
  }

  .clock__text {
    margin-bottom: 30px;
  }

  .reviews__author-name {
    letter-spacing: 1.1px;
    margin-bottom: 2px;
  }

  .social__list {
    left: 4px;
  }

  .social__item:nth-child(2) {
    margin: 0 3px;
  }

  .page-footer__copyright {
    position: relative;
    top: 10px;
  }

  .copyright__text {
    padding: 0 13px 0 0;
    margin-bottom: 2px;
  }

  .data-title__hit {
    background-image: url("../../img/hit.svg");
    background-position: left 0 top -2px;
  }
}
