@pink: #d22856;
@dark-blue: #283645;
@dark: #252527;
@light-gray: #f2f2f2;
@border-color: #e5e5e5;
@background-fone: #1d2631;
@button-green: #2aab6d;
@background-glassy: rgba(0, 0, 0, 0.3);
@light-border: rgba(40, 54, 69, 0.1);

@mobile-width-only: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
@import "global/fonts.less";
@import "blocks/page.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/block-intro.less";
@import "blocks/phone.less";
@import "blocks/information.less";
@import "blocks/iphone.less";
@import "blocks/author.less";
@import "blocks/table.less";
@import "blocks/contacts.less";
@import "blocks/social.less";
@import "blocks/data.less";
@import "blocks/row.less";
@import "blocks/page-footer.less";
@import "blocks/button.less";
@import "blocks/socials.less";
@import "blocks/copyright.less";
@import "blocks/reviews.less";
@import "blocks/user-box.less";
@import "blocks/user.less";
@import "blocks/name.less";
@import "blocks/checkbox.less";
@import "blocks/radio.less";
@import "blocks/small.less";
@import "blocks/modal.less";
@import "blocks/text-input.less";
@import "blocks/emotion.less";
@import "blocks/visually-hidden.less";
@import "blocks/photo.less";
@import "blocks/post.less";
@import "blocks/like.less";
@import "blocks/icon.less";
@import "blocks/filter.less";
@import "blocks/clock.less";
@import "blocks/slider.less";

@media (min-width: @mobile-width-only) {
  .main-nav--closed .main-nav__dropdown::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 24px;
    background-image: url("../../img/open-menu-btn.svg");
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__dropdown&::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/close-menu-btn.svg");
  }

  .block-intro__preview {
    order: 0;
  }

  .block-intro__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 450px;
    background-image: url("../../img/back-mobile.png");
  }

  .block-intro__phone {
    position: relative;
    height: 286px;
    background-image: url("../../img/phone.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .block-intro {
    margin-top: -65px;
  }

  .data__first {
    display: none;
  }

  .data-title,
  .data__box {
    display: none;
  }

  .data-title__hit,
  .data__box-visible {
    display: table-cell;
  }

  .information__iphone {
    height: 286px;
    background-image: url("../../img/iphone3-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    order: 0;
  }

  .contacts {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .block-intro,
  .information__title,
  .information__container,
  .reviews,
  .table__block,
  .page-footer__wrapper,
  .clock {
    padding: 0 20px;
  }

  .user-box__title {
    height: 240px;
    margin-top: -66px;
  }

  .user-contacts__title {
    display: none;
  }

  .user-box__text {
    padding-top: 100px;
  }

  .emotion__text,
  .emotion__box {
    height: 197px;
  }

  .post__box-autor {
    &:nth-child(1) {
      .post__photo {
        background-image: url("../../img/photo-1-mobile.png");
      }
    }

    &:nth-child(2) {
      .post__photo {
        background-image: url("../../img/photo-2-mobile.png");
      }
    }

    &:nth-child(3) {
      .post__photo {
        background-image: url("../../img/photo-3-mobile.png");
      }
    }

    &:nth-child(4) {
      .post__photo {
        background-image: url("../../img/photo-4-mobile.png");
      }
    }

    &:nth-child(5) {
      .post__photo {
        background-image: url("../../img/photo-5-mobile.png");
      }
    }

    &:nth-child(6) {
      .post__photo {
        background-image: url("../../img/photo-6-mobile.png");
      }
    }
  }
}

@media (max-width: 1199px) {
  .site-list__item {
    height: 63px;
    border: none;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__dropdown {
    display: none;
  }

  .page-header .main-nav--opened {
    background-color: @dark-blue;
  }
}

@media (min-width: @tablet-width) {
  .main-nav--closed .main-nav__dropdown::before {
    content: "";
    position: absolute;
    top: 43px;
    right: 20px;
    width: 50px;
    height: 24px;
    background-image: url("../../img/open-menu-btn.svg");
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__dropdown&::before {
    content: "";
    position: absolute;
    top: 43px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/close-menu-btn.svg");
  }

  .page {
    min-width: 660px;
  }

  .main-nav__top {
    height: 110px;
  }

  .page-header__logo {
    position: absolute;
    top: 27px;
    left: 20px;
    width: 145px;
    height: 40px;
    background-image: url("../../img/logotype-white-tablet.svg");
    background-repeat: no-repeat;
  }

  .information__list,
  .block-intro__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
  }

  .block-intro__preview-display {
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
  }

  .block-intro__bottom {
    justify-content: space-around;
    background-image: none;
    order: 0;
  }

  .block-intro__box,
  .block-intro__phone {
    background-image: none;
  }

  .block-intro {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 729px;
    background-image: url("../../img/phone-tablet.png"), url("../../img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    margin-top: -110px;
  }

  .data__first {
    display: table-cell;
  }

  .information__container {
    display: grid;
    min-height: 350px;
    grid-template-columns: 1fr 1fr;
  }

  .information__iphone {
    height: 485px;
    background-image: url("../../img/iphone3-tablet.png");
    background-repeat: no-repeat;
    background-position: top center;
    order: 0;
  }

  .clock {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contacts__container {
    display: grid;
    gap: 50px;
    grid-template-areas:
      "call letter"
      "guest guest";
  }

  .call {
    grid-area: call;
  }

  .letter {
    grid-area: letter;
  }

  .guest {
    grid-area: guest;
  }

  .page-footer {
    min-height: auto;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .user-contacts__title {
    display: block;
  }

  .user-box__title {
    margin-top: -110px;
    height: 440px;
    background-image: url("../../img/back-tablet.png");
    background-position: top;
  }

  .user-box__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-top: 150px;
  }

  .user__container {
    border: 2px solid @border-color;
    border-radius: 1px;
  }

  .user-radio,
  .user-checkbox {
    background: white;
  }

  .user__name {
    border: none;
  }

  .checkbox__container,
  .radio__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .photo__container {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }

  .filter__block {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .user__form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .user-name,
  .user-radio {
    order: 0;
  }

  .user-contacts {
    order: 1;
  }

  .user-checkbox,
  .user-emotion,
  .user__send {
    order: 2;
  }

  .user__send {
    grid-area: send;
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 2;
  }

  .table__rates {
    width: 608px;
  }

  .data-title {
    width: 152px;
    height: 75px;
    display: table-cell;
  }

  .data__box {
    width: 152px;
    height: 45px;
    display: table-cell;
  }

  .data__box-text {
    display: none;
  }

  .data__box-yes,
  .data__box-no {
    background-position: center;
  }

  .block-intro,
  .information__title,
  .information__container,
  .reviews,
  .table__block,
  .page-footer__wrapper,
  .clock {
    padding: 0 20px;
  }

  .user__legend {
    font-size: 18px;
    line-height: 30px;
  }

  .user__personal-data {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .name__label {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .name__input {
    width: 100%;
  }

  .name__text {
    margin-right: 15px;
    padding: 0;
  }

  .name__box {
    padding: 0;
  }

  .user-contacts__container {
    padding: 20px 60px;
  }

  .radio__container {
    display: flex;
    padding-left: 50px;
  }

  .user-radio__container {
    height: 295px;
  }

  .contacts__desktop {
    display: flex;
    flex-direction: column;
  }

  .contacts,
  .contacts__box {
    padding: 0;
  }

  .contacts__input {
    width: 100%;
    box-sizing: border-box;
    padding-right: 60px;
  }

  .contacts__label {
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      height: 55px;
      width: 55px;
      right: 0;
      top: 0;
      border: 2px solid @border-color;
      background-color: @border-color;
      z-index: 5;
    }
  }

  .contacts-label__tel::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 19px;
    right: 20px;
    top: 20px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .contacts-label__mail::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 18px;
    right: 20px;
    top: 23px;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .checkbox__desktop {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
  }

  .emotion__text {
    height: 189px;
  }

  .emotion__container {
    height: 289px;
  }

  .post__box-autor {
    width: 300px;
  }

  .post__information {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0;
  }

  .post-day__info {

    margin: 0 20px;
  }

  .post__autor {
    margin: 0;
  }

  .like {
    margin-top: auto;
  }

  .filter__box-photo {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .filter__icon {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
  }

  .icon__box {
    text-align: left;
  }

  .icon__range {
    display: inline-block;
    top: 15px;
    box-sizing: border-box;
    left: 60px;
  }

  .post-day__photo {
    height: 509px;
  }

  .filter__container {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .page {
    min-width: 1200px;
  }

  .post-day__info {
    width: 900px;
    margin: 0 auto;
  }

  .photo__container {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 100px;
  }

  .site-list__item {
    display: inline-block;
    box-shadow: none;
    margin-left: 80px;

    &--active {
      border-bottom: 2px solid white;
    }
  }

  .site-list__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

  .page-header__logo {
    position: relative;
    top: -5px;
    width: 150px;
    height: 40px;
    background-image: url("../../img/logotype-white-desktop.svg");
    background-repeat: no-repeat;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    background-color: none;
  }

  .main-nav__wrapper {
    display: flex;
    padding: 0 130px 0 0;
  }

  .table__button,
  .main-nav__dropdown {
    display: none;
  }

  .main-nav__top {
    padding: 0 0 0 130px;
    box-shadow: none;
  }

  .block-intro {
    width: 100%;
    height: 838px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../img/phone-desktop.png"), url("../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    margin-top: -110px;
  }

  .block-intro__preview-display {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  .block-intro,
  .information-title,
  .information__container,
  .reviews,
  .table__block,
  .contacts,
  .page-footer__wrapper,
  .clock {
    padding: 0 130px;
  }

  .information__container {
    display: grid;
    min-height: 500px;
    grid-template-columns: 1fr;
  }

  .information__iphone {
    display: none;
  }

  .information__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .information__item {
    padding-top: 420px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 186px;
      height: 380px;
    }

    &:first-child {
      background-image: url("../../img/iphone1.png");
      background-repeat: no-repeat;
      background-position: top center;
    }

    &:nth-child(2) {
      background-image: url("../../img/iphone2.png");
      background-repeat: no-repeat;
      background-position: top center;
    }

    &:last-child {
      background-image: url("../../img/iphone3.png");
      background-repeat: no-repeat;
      background-position: top center;
    }
  }

  .user__box {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
  }

  .contacts__container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "call letter guest";
  }

  .call {
    grid-area: call;
  }

  .letter {
    grid-area: letter;
  }

  .guest {
    grid-area: guest;
  }

  .table__rates {
    width: 940px;
  }

  .data-title {
    width: 233px;
    height: 94px;
  }

  .data__box {
    width: 233px;
    height: 59px;
  }

  .data__box-text {
    display: none;
  }

  .data__box-yes,
  .data__box-no {
    background-position: center;
  }

  .filter__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .clock {
    background-color: @light-gray;
  }

  .user__form {
    display: grid;
    gap: 50px;
    grid-template-columns: 445px 445px;
    grid-template-areas:
      "name radio"
      "contacts contacts"
      "checkbox checkbox"
      "emotion emotion"
      "send send";
  }

  .user-name {
    height: 300px;
    grid-area: name;
    margin: 0;
    padding: 0;
  }

  .user-radio {
    grid-area: radio;
    padding: 0;
  }

  .user-contacts {
    grid-area: contacts;
    padding: 0;
    order: 1;
  }

  .user-checkbox {
    grid-area: checkbox;
    padding: 0;
  }

  .user-emotion {
    grid-area: emotion;
    padding: 0;
  }

  .user-radio__container {
    height: 297px;
  }

  .user-box__title {
    margin-top: -110px;
    height: 400px;
    background-image: url("../../img/back-desktop.jpg");
    background-position: top;
  }

  .user-box__text {
    padding: 150px 130px 0 130px;
  }

  .user__legend {
    margin-bottom: 30px;
    padding: 94px 130px 0 130px;
  }

  .user__personal-data {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    align-items: stretch;
  }

  .user-contacts__container {
    padding: 20px 60px;
  }

  .contacts__input {
    width: 100%;
    box-sizing: border-box;
  }

  .contacts__text {
    margin: 0;
  }

  .contacts__box {
    width: 100%;
    padding: 0;
  }

  .contacts__label {
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      height: 55px;
      width: 55px;
      right: 0;
      top: 0;
      border: 2px solid @border-color;
      background-color: @border-color;
      z-index: 5;
    }
  }

  .contacts-label__tel::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 19px;
    right: 20px;
    top: 20px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .contacts-label__mail::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 18px;
    right: 20px;
    top: 23px;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    z-index: 15;
  }

  .name__box {
    padding: 0;
  }

  .name__title-second {
    display: inline;
    padding: 0;
  }

  .contacts__desktop {
    display: grid;
    grid-template-columns: 371px 371px;
    justify-content: space-between;
  }

  .checkbox__container {
    height: 228px;
    align-items: center;
  }

  .checkbox__desktop {
    display: grid;
    height: 140px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-auto-flow: column;
    justify-items: flex-start;
    padding: 0;
  }

  .checkbox__selection {
    padding-left: 70px;
  }

  .emotion__box {
    height: 170px;
  }

  .user__send {
    padding: 0;
  }

  .user__submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .small__block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .small__text-desktop {
    display: inline;
  }

  .post-day__photo {
    height: 509px;
  }

  .filter__button {
    display: flex;
  }

  .filter__block {
    width: 450px;
  }

  .button-post {
    width: 183px;
    height: 55px;
  }

  .filter__container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icon__range {
    width: 288px;
    left: 100px;
  }
}
